[Unit]
Description=Uchicode Docker Compose application
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/uchicode/app
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose -p app -f docker-compose.prod.yml up -d --remove-orphans
ExecStop=/usr/bin/docker compose -p app -f docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
